.icon-bar {
    width: 90px; /*set a specific width */
    background-color: #555; /* Dark-grey background */
}

.icon-bar a {
    display: block; /*make the links appear below each other instead of side-by-side */
    text-align: center; /* center-align text*/
    padding: 16px;
    transition: all 0.3s ease; /*add transition for hover effects*/
    color: white;
    font-size: 36px; /* increase font-size */
}

.icon-bar a:hover {
    background-color: #000; /* Add a hover color */
}

.active {
    background-color: #4CAF50; /* Add an active/current color */
}